@page "/blog"

@using SparksBlogBlazorApp.Models;

@inject HttpClient Http
@inject NavigationManager Navigation

<section id="article-thumbnails-section">
    <section class="container">
        <section class="row">
            <section class="col-md-12">
                @if (ArticleThumbnails == null)
                {
                    <h1>Loading...</h1>
                }
                else
                {
                    @foreach (var item in ArticleThumbnails)
                    {
                        <section class="article-thumbnail col-md-6">
                            <section class="col-md-12">
                                <h2>@item.Title</h2>
                            </section>
                            <section class="col-md-12">
                                <ul>
                                    <li>@item.CreatedDate.ToString("MM.dd.yyyy")</li>
                                </ul>
                            </section>
                            <section class="col-md-12">
                                <a class="btn" @onclick="@(e => NavigateToArticle(@item.Id))">Read More</a>
                            </section>
                        </section>
                    }
                }
            </section>
        </section>
    </section>
</section>

@code {
    private List<ArticleThumbnail> ArticleThumbnails;

    private void NavigateToArticle(string articleId)
    {
        Navigation.NavigateTo($"post/{articleId}");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var articleDataModel = await Http.GetFromJsonAsync<ArticleDataModel>("data/articles.json");
            ArticleThumbnails = articleDataModel.Articles.OrderByDescending(x => x.CreatedDate).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}